global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: iot-controller
    static_configs:
      - targets: ["iot-controller:${CONTROLLER_METRICS_PORT}"]

  - job_name: rule-engine
    static_configs:
      - targets: ["rule-engine:${RULE_ENGINE_METRICS_PORT}"]

  - job_name: mongodb-exporter
    static_configs:
      - targets: ["mongodb-exporter:9216"]

  - job_name: postgres-exporter
    static_configs:
      - targets: ["postgres-exporter:9187"]

  - job_name: rabbitmq-exporter
    static_configs:
      - targets: ["rabbitmq-exporter:9419"]
