global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: iot-controller
    metrics_path: /metrics
    static_configs:
      - targets: ["iot-controller:8000"]

  - job_name: rule-engine
    metrics_path: /metrics
    static_configs:
      - targets: ["rule-engine:9001"]

  - job_name: mongodb-exporter
    static_configs:
      - targets: ["mongodb-exporter:9216"]

  - job_name: postgres-exporter
    static_configs:
      - targets: ["postgres-exporter:9187"]

  - job_name: rabbitmq-exporter
    static_configs:
      - targets: ["rabbitmq-exporter:9419"]
